<header class="">
    <div class="inner">

      <div id="main-nav">
        <div id="mega-menu-bg"></div>

        <form id="mobile-search" action="">
            <input placeholder="" type="search" value="" name="q" id="search-input-field-mobile" class="">
            <input class="form-submit" type="submit" value="">
            <a href="javascript:;" class="clear">clear</a>
    		</form>

        <ul>
          <!-- Top level menu item -->
          <li class="has-mega-menu">
            <a href="javascript:;">Shop</a>
            <div class="mega-menu">
              <nav class="inner-list">
                <h3>Jewellery</h3>
                <ul>
                  <li><a href="/collections/solid-gold-jewellery">All Solid Gold Jewellery</a></li>
                  <li><a href="/collections/most-popular-solid-gold">Most Popular</a></li>
                  <li><a href="/collections/new-arrivals-solid-gold">New</a></li>
                  <li><a href="/collections/solid-gold-rings">Rings</a></li>
                  <li><a href="/collections/solid-gold-necklaces">Necklaces</a></li>
                  <li><a href="/collections/solid-gold-earrings">Earrings</a></li>
                  <li><a href="/collections/solid-gold-bracelets">Bracelets</a></li>
                </ul>
              </nav>
              <nav class="inner-list col-2">
                <h3>Gifts</h3>
                <ul>
                  <li><a href="/products/chupi-gift-coin">Gift Coin</a></li>
                  <li><a href="/products/digital-gift-card-for-chupi">Digital Gift Cards</a></li>
                </ul>
                <ul>
                  <li><a href="/collections/all-gift-sets">All Gift Sets</a></li>
                  <li><a href="/collections/solid-gold-gift-sets">Solid Gold Sets</a></li>
                  <li><a href="/collections/gold-plated-and-silver-gift-sets">Gold Plated &amp; Silver Gift Sets</a></li>
                </ul>
                <ul>
                  <li><a href="/collections/ready-to-ship-under-199">Under {{ 19900 | money_without_trailing_zeros }}</a></li>
                  <li><a href="/collections/ready-to-ship-under-399">Under {{ 39900 | money_without_trailing_zeros }}</a></li>
                  <li><a href="/collections/ready-to-ship-under-799">Under {{ 79900 | money_without_trailing_zeros }}</a></li>
                  <li><a href="/collections/ready-to-ship-money-no-object">Money No Object</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Gold Plated Silver Collection</h3>
                <ul>
                  <li><a href="/collections/all-plated">All Plated Jewellery</a></li>
                  <li><a href="/collections/rings">Rings</a></li>
                  <li><a href="/collections/necklaces">Necklaces</a></li>
                  <li><a href="/collections/earrings">Earrings</a></li>
                  <li><a href="/collections/bracelets">Bracelets</a></li>
                  <li><a href="/collections/accessories">Accessories</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Mark Your Moment</h3>
                <ul>
                  <li><a href="/collections/engagement-rings">Engagement Rings</a></li>
                  <li><a href="/collections/womens-wedding-rings">Women's Wedding Rings</a></li>
                  <li><a href="/collections/mens-wedding-rings">Men's Wedding Bands</a></li>
                  <li><a href="/collections/heirloom-rings">Heirloom Rings</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Collections</h3>
                <ul>
                  <li><a href="/collections/ss19-follow-your-dreams">SS19</a></li>
                  <li><a href="/collections/grey-diamonds">Grey Diamonds</a></li>
                  <li><a href="/collections/hawthorn-twig">Hawthorn Twig</a></li>
                  <li><a href="/collections/solid-gold-initials">Initial Necklaces</a></li>
             		  <li><a href="/collections/love-luck-laughter">Love Luck Laughter</a></li>
                  <li><a href="/collections/starsigns-zodiac">Starsign &amp; Zodiac</a></li>
                  <li><a href="/collections/stars-in-the-sky">Stars in the Sky</a></li>
                  <li><a href="/collections/sun-moon-stars">Sun, Moon & Stars</a></li>
                  <li><a href="/collections/solid-gold-your-north-star">Your North Star</a></li>
                </ul>
              </nav>
            </div>
          </li>
          <!-- Top level menu item -->
          <li class="has-mega-menu">
            <a href="javascript:;">Engagement</a>
            <div class="mega-menu">
              <nav class="inner-list">
                <h3>Engagement Rings</h3>
                <ul>
                  <li><a href="/collections/engagement-rings">All Engagement Rings</a></li>
                  <li><a href="/collections/diamond-engagement-rings">Diamond Engagement Rings</a></li>
                  <li><a href="/collections/grey-diamond-rings">Grey Diamond Rings</a></li>
                  <li><a href="/collections/morganite-engagement-rings">Morganite Engagement Rings</a></li>
                  <li><a href="/collections/polished-band-rings">Polished Band Rings</a></li>
                  <li><a href="/collections/promise-rings">Promise Rings</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Shop by Shape</h3>
                <ul>
                  <li><a href="/collections/halo" class="menu-item-icon" style="background-image: url({{ 'stone-shape-halo.svg' | asset_url }})">Halo</a></li>
                  <li><a href="/collections/solitaire" class="menu-item-icon" style="background-image: url({{ 'stone-shape-solitaire.svg' | asset_url }})">Solitaire</a></li>
                  <li><a href="/collections/three-stones" class="menu-item-icon" style="background-image: url({{ 'stone-shape-three-stone.svg' | asset_url }})">Three Stones</a></li>
                  <li><a href="/collections/round" class="menu-item-icon" style="background-image: url({{ 'stone-shape-round.svg' | asset_url }})">Round</a></li>
                  <li><a href="/collections/oval" class="menu-item-icon" style="background-image: url({{ 'stone-shape-oval.svg' | asset_url }})">Oval</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Collections</h3>
                <ul class="split-list">
                  <li><a href="/collections/you-me-magic">You Me & Magic</a></li>
                  <li><a href="/collections/sparkle-in-the-wild">Sparkle in the Wild</a></li>
                  <li><a href="/collections/one-in-a-trillion">One in a Trillion</a></li>
                  <li><a href="/collections/queen-of-hearts">Queen of Hearts</a></li>
                  <li><a href="/collections/darling-in-the-wild">Darling in the Wild</a></li>
                  <li><a href="/collections/born-under-a-lucky-star">Lucky Star</a></li>
                  <li><a href="/collections/love-is-all">Love is All</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Education</h3>
                <ul>
                  <li><a href="/pages/chupi-engagement-ring-guide">Engagement Ring Guide</a></li>
                  <li><a href="/pages/grey-diamonds">What is a Grey Diamond</a></li>
                  <li><a href="/pages/payment-plan-landing-page">Finance Planning</a></li>
                </ul>
              </nav>
            </div>
          </li>
          <!-- Top level menu item -->
          <li class="has-mega-menu">
            <a href="javascript:;">Wedding</a>
            <div class="mega-menu">
              <nav class="inner-list">
                <h3>Wedding Rings</h3>
                <ul>
                  <li><a href="/collections/wedding-rings">All Wedding Rings</a></li>
                  <li><a href="/collections/womens-wedding-rings">Women's Wedding Rings</a></li>
                  <li><a href="/collections/mens-wedding-rings">Men's Wedding Rings</a></li>
                  <li><a href="/collections/twig-wedding-rings">Twig Band Wedding Rings</a></li>
                  <li><a href="/collections/polished-band-wedding-rings">Polished Band Wedding Rings</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Bridal Jewellery</h3>
                <ul>
                  <li><a href="/collections/bridal-jewellery">All Bridal Jewellery</a></li>
                  <li><a href="/collections/bridal-diamond-jewellery">Diamond Bridal Jewellery</a></li>
                  <li><a href="/collections/chupi-headpieces">Headpieces</a></li>
                </ul>
              </nav>
            </div>
          </li>
          <!-- Top level menu item -->
          <li class="has-mega-menu">
            <a href="javascript:;">Personalise</a>
            <div class="mega-menu">
              <nav class="inner-list">
                <h3>Initials</h3>
                <ul>
                  <li><a href="/collections/solid-gold-initials">Solid Gold Initial Necklaces</a></li>
                  <li><a href="/collections/initial-necklaces-bracelets">Initial Necklaces & Bracelets</a></li>
                  <li><a href="/collections/initial-discs-birthstones">Initial Discs & Birthstones</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Make it personal</h3>
                <ul>
                   <li><a href="/collections/personalised">All Personalised</a></li>
                   <li><a href="/collections/birthstones">Birthstones</a></li>
                   <li><a href="/collections/coordinates">Coordinates</a></li>
                	 <li><a href="/collections/monogrammed">Engraved</a></li>
                   <li><a href="/collections/astrology-starsigns">Starsign &amp; Zodiac</a></li>
                </ul>
              </nav>
            </div>
          </li>
          <!-- Top level menu item -->
          <li class="has-mega-menu">
            <a href="javascript:;">About</a>
            <div class="mega-menu">
              <nav class="inner-list">
                <h3>Story</h3>
                <ul>
                  <li><a href="/pages/about-us#our-story">Our Story</a></li>
                  <li><a href="/pages/our-store">Our Store</a></li>
                  <li><a href="/pages/chupi-gift-wrapping">Gift Wrapping</a></li>
                  <li><a href="/pages/press">Our Press</a></li>
                  <li><a href="/pages/our-promise">Our Promise</a></li>
                </ul>
              </nav>
              <nav class="inner-list">
                <h3>Inspiration</h3>
                <ul>
                  <li><a href="https://madewithlove.chupi.com/">Made With Love</a></li>
                  <li><a href="https://blog.chupi.com/">The Chupi Journal</a></li>
                  <li><a href="/pages/inspire-instagram">Shop Our Instagram</a></li>
                  <li><a href="/pages/love-chupi">Be inspired</a></li>
                </ul>
              </nav>
            </div>
          </li>
          <!-- Mobile currency -->
          <li id="currency-select-mobile" class="currency-select">
            {% form 'currency' %}
            {{ form | currency_selector }}
            {% endform %}
            <a href="javascript:;" class="currency-btn"></a>
            <ul class="currency-list"></ul>
          </li>
          <div class="underline"></div>
        </ul>
      </div> <!-- end .main-nav -->

      <a id="header-logo" href="/">
        <img src="{{ 'logo-light.svg' | asset_url}}" alt="Chupi" class="logo light">
        <img src="{{ 'logo.svg' | asset_url}}" alt="Chupi" class="logo dark">
      </a>

      <div id="header-icons">

        <form id="search" action="/search">
          <input placeholder="" type="search" value="" name="q" id="search-input-field" class="ais-search-box--input __web-inspector-hide-shortcut__">
          <input type="submit" id="search-button" class="form-submit" value="" disabled>
        </form>

        {% if cart.item_count > 0 %}
        <a href="javascript:;" id="cart-btn" class="active"></a>
        {% else %}
        <a href="javascript:;" id="cart-btn"></a>
        {% endif %}

        {% if customer %}
        <a href="/account" id="account-btn" class="active"></a>
        {% else %}
        <a href="/account/login" id="account-btn"></a>
        {% endif %}

        <!-- include 'wishlist-link' -->

        <a href="javascript:;" id="mobile-search-btn"></a>

        <a href="javascript:;" id="menu-btn"><span></span></a>

        <!-- Desktop currency -->
        <div id="currency-select-desktop" class="currency-select">
          {% form 'currency' %}
          {{ form | currency_selector }}
          {% endform %}
          <a href="javascript:;" class="currency-btn"></a>
          <ul class="currency-list"></ul>
        </div>
      </div> <!-- end #header-icons -->

    </div> <!-- end .inner -->
  </header>
