<!DOCTYPE html>
<html>
<head>

  <!-- Basic page needs  -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />

  <!-- Noindex, nofollow for dev only -->
  <meta name="robots" content="noindex, nofollow" />
  <meta name="googlebot" content="noindex" />

  {% if template contains 'product' %}
    <!-- Conditional load for Open Graph meta tags -->
    <meta property="og:title" content="{{ product.title }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{shop.url}}{{page.url}}" />
    <meta property="og:image" content="{{ product.images[0] | product_img_url: 'large' }}" />
    <meta property="og:image:secure_url" content="https:{{ product.images[0] | product_img_url: 'large' }}">
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

  <link rel="canonical" href="{{ canonical_url }}" />

  <!-- Styles -->
  {{'styles.css' | asset_url | stylesheet_tag}}

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/ppw3aql.css">

  {{ content_for_header }}

 </head>



 <!-- Global liquid variables -->
 {% assign dynamicCartStatus = true %}
 {% if template == 'cart' %}
 {% assign dynamicCartStatus = false %}
 {% endif %}

 {% comment %} Creates a transparent header, defined in chupi-header-phoenix.liquid {% endcomment %}
 {% if page.handle contains 'store' %}
   {% assign transparentHeader = true %}
 {% else %}
   {% assign transparentHeader = false %}
 {% endif%}




 <body data-currency-sample="{{ 100 | money }}" data-currency="{{ cart.currency.iso_code }}" data-currency-symbol="{{ cart.currency.symbol }}" id="{{ page_title | handle }}" data-dynamic-cart="{{ dynamicCartStatus }}" class="{% if transparentHeader %} transparent-header {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >


  <!-- Header -->
  {% include 'chupi-header-phoenix' %}

  <!-- Main content -->
  <h3>Test</h3>
  {{ content_for_layout }}

  <!-- Footer -->
  {% include 'chupi-footer-phoenix' %}




  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {{ 'scripts.js' | asset_url | script_tag }}
  {{ 'dynamic-cart.js' | asset_url | script_tag }}



</body>
</html>
