
<section id="home-top" class="section-top">
  <img class="object-cover"
        srcset="{{ 'banner4-mobile.jpg' | asset_url}} 450w, {{ 'banner4.jpg' | asset_url}} 1920w"
        sizes="(max-width: 450px) 450px, (min-width: 451px) 1920px"
        src="{{ 'banner4.jpg' | asset_url}}"
        alt="Spring Summer ‘19" />
  <div class="gradient-underlay bottom dark"></div>
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <h1>Spring Summer ‘20</h1>
        <p>Preview of our Fall ’20 collection inspired by the precious places we call home.</p>
        <a class="btn btn-light" href="/collections/solid-gold-jewellery">Shop now</a>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>




<section id="home-new-arrivals">
  <div class="content">
    <!-- <div class="grid">
      <div class="grid-item"> -->
        <h2>New Arrivals</h2>
        <div class="carousel product-carousel">
          <div class="carousel-track">

            {% assign homeCarouselCollection = 'filter-test' %}
            {% assign homeCarouselCount = 16 %}

            {% if collections[homeCarouselCollection].products.size > 0 %}
              {% for product in collections[homeCarouselCollection].products limit:homeCarouselCount %}
                {% comment %} Pass through product object and carousel count {% endcomment %}
                {% render 'product-card' with product as product, homeCarouselCount: homeCarouselCount %}
              {% endfor %}
            {% endif %}

          </div>
        </div>
        <a href="/collections/solid-gold-jewellery" class="btn btn-dark">Shop new arrivals</a>
      <!-- </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>




<section id="home-collections">
  <div class="content">
    <div class="grid">
      <img class="object-cover"
        srcset="{{ 'banner2-mobile.jpg' | asset_url}} 450w, {{ 'banner2.jpg' | asset_url}} 1920w"
        sizes="(max-width: 450px) 450px, (min-width: 451px) 1920px"
        src="{{ 'banner2.jpg' | asset_url}}"
        alt="Jewellery for every day" />
      <div class="gradient-underlay bottom dark"></div>
      <div class="grid-item">
        <h2>Jewellery for every day</h2>
        <a class="btn btn-light" href="/collections/solid-gold-jewellery">Shop Silver Collection</a>
      </div>
    </div> <!-- end .grid -->
    <div class="grid">
      <img class="object-cover"
        srcset="{{ 'banner3-mobile.jpg' | asset_url}} 450w, {{ 'banner3.jpg' | asset_url}} 1920w"
        sizes="(max-width: 450px) 450px, (min-width: 451px) 1920px"
        src="{{ 'banner3.jpg' | asset_url}}"
        alt="Modern Heirlooms" />
      <div class="gradient-underlay bottom dark"></div>
      <div class="grid-item">
        <h2>Modern Heirlooms</h2>
        <a class="btn btn-light" href="/collections/solid-gold-jewellery">Shop Solid Gold</a>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>





<section id="home-about">
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <h2>Each piece, Made with Love in Dublin, Ireland</h2>
        <p>There is an incredible wealth of creative talent and craftsmanship in our team, from our founder and designer, our master goldsmiths to our highly skilled jewellers we have over 100 years of experience in making beautiful pieces. Meet the incredible team behind our jewellery below.</p>
        <p>#madewithlove</p>
        <a class="btn btn-dark" href="javascript:;">Watch the video</a>
      </div>
      <div class="grid-item">
        <img class="object-cover"
        srcset="{{ 'chupi-shot2.jpg' | asset_url}} 450w, {{ 'chupi-shot2.jpg' | asset_url}} 1920w"
        sizes="(max-width: 450px) 450px, (min-width: 451px) 1920px"
        src="{{ 'chupi-shot2.jpg' | asset_url}}.jpg"
        alt="Chupi" />
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>





<section id="home-ugc" class="section-ugc">
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <h2>Shop Instagram</h2>
        <p>Insta UGC here...</p>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>
