
<section id="home-top" class="section-top">
  <img class="object-cover"
        srcset="{{ 'banner4-mobile.jpg' | asset_url}} 450w, {{ 'banner4.jpg' | asset_url}} 1920w"
        sizes="(max-width: 450px) 450px, (min-width: 451px) 1920px"
        src="{{ 'banner4.jpg' | asset_url}}"
        alt="Spring Summer ‘19" />
  <div class="gradient-underlay bottom dark"></div>
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <h1>Spring Summer ‘20</h1>
        <p>Preview of our Fall ’20 collection inspired by the precious places we call home.</p>
        <a class="btn btn-light" href="/collections/solid-gold-jewellery">Shop now</a>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>





<section id="home-new-arrivals">
  <div class="content">
    <!-- <div class="grid">
      <div class="grid-item"> -->
        <h2>New Arrivals</h2>
        <div class="carousel product-carousel">
          <div class="carousel-track">

            {% assign homeCarouselCollection = 'new-arrivals' %}

            {% if collections[homeCarouselCollection].products.size > 0 %}
              {% for product in collections[homeCarouselCollection].products limit:6 %}

                <div class="carousel-item card product-card">
                  {% assign onBodyShotSrc = "" %}
                  {% assign onBodyShotCustomAlText = "" %}
                  {% for image in product.images %}
                    {% if image.alt contains 'on-body-shot' %}
                      {% assign onBodyShotSrc = image.src %}
                      {% assign onBodyShotCustomAlText = product.title %}
                    {% endif %}
                  {% endfor %}

                  {% if onBodyShotSrc != blank %}
                  {% comment %} If image has on-body-shot alt text, show this image {% endcomment %}
                    <img class="object-cover" src="{{ onBodyShotSrc | img_url: '1024x1024' }}" alt="On-body shot of {{ onBodyShotCustomAlText }}">
                  {% elsif product.images[1].src %}
                  {% comment %} Else show second image {% endcomment %}
                    <img class="object-cover" src="{{ product.images[1].src | img_url: '1024x1024' }}" alt="{{product.images[1].alt}}">
                  {% endif %}

                  <div class="inner">
                    <div class="upper">
                      <a href="{{ product.url }}">
                        <img src="{{ product.images[0].src | img_url: '1024x1024' }}" alt="{{product.images[0].alt}}">
                      </a>
                    </div>
                    <a href="{{ product.url }}"><h3>{{ product.title }}</h3></a>
                  </div>
                  <a href="javascript:;" class="wishlist-add"></a>
                  <div class="metal-switcher">
                    <a href="javascript:;" class="solid-rose-gold"></a>
                    <a href="javascript:;" class="solid-white-gold"></a>
                    <a href="javascript:;" class="solid-gold active"></a>
                  </div>
                  <span class="price">{{ product.price | money }}</span>
                </div> <!-- end .product-card -->

              {% endfor %}
            {% endif %}

          </div>
        </div>
        <a href="/collections/solid-gold-jewellery" class="btn btn-dark">Shop new arrivals</a>
      <!-- </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>




<section id="home-collections">
  <div class="content">
    <div class="grid">
      <img class="object-cover"
        srcset="img/banner/banner2-mobile.jpg 450w, img/banner/banner2.jpg 1920w"
        sizes="(max-width: 450px) 450px, (min-width: 451px) 1920px"
        src="img/banner/banner2.jpg"
        alt="Jewellery for every day" />
      <div class="gradient-underlay bottom dark"></div>
      <div class="grid-item">
        <h2>Jewellery for every day</h2>
        <a class="btn btn-light" href="collection.html">Shop Silver Collection</a>
      </div>
    </div> <!-- end .grid -->
    <div class="grid">
      <img class="object-cover"
        srcset="img/banner/banner3-mobile.jpg 450w, img/banner/banner3.jpg 1920w"
        sizes="(max-width: 450px) 450px, (min-width: 451px) 1920px"
        src="img/banner/banner3.jpg"
        alt="Modern Heirlooms" />
      <div class="gradient-underlay bottom dark"></div>
      <div class="grid-item">
        <h2>Modern Heirlooms</h2>
        <a class="btn btn-light" href="collection.html">Shop Solid Gold</a>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>





<section id="home-about">
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <h2>Each piece, Made with Love in Dublin, Ireland</h2>
        <p>There is an incredible wealth of creative talent and craftsmanship in our team, from our founder and designer, our master goldsmiths to our highly skilled jewellers we have over 100 years of experience in making beautiful pieces. Meet the incredible team behind our jewellery below.</p>
        <p>#madewithlove</p>
        <a class="btn btn-dark" href="javascript:;">Watch the video</a>
      </div>
      <div class="grid-item">
        <img class="object-cover"
        srcset="img/misc/chupi-shot2.jpg 450w, img/misc/chupi-shot2.jpg 1920w"
        sizes="(max-width: 450px) 450px, (min-width: 451px) 1920px"
        src="img/banner/banner3.jpg"
        alt="Chupi" />
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>





<section id="home-ugc" class="section-ugc">
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <h2>Shop Instagram</h2>
        <p>Insta UGC here...</p>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>
