
{% comment %} Set global product variables {% endcomment %}
{% assign productTitleLowercase = product.title | downcase %}
{% assign currentVariant = product.selected_or_first_available_variant %}
{% assign hasDiscVariants = false %}
{% assign currentDiscCount = '' %}
{% for option in product.options %}
  {% if option == 'Discs' %}
    {% for product_option in product.options_with_values %}
      {% assign hasDiscVariants = true %}
      {% assign currentDiscCount = product_option.selected_value %}
    {% endfor %}
  {% endif %}
{% endfor %}





<section id="product-top" class="section-top" data-product-handle="{{ product.handle }}" data-product-id="{{ product.id }}" data-first-variant-id="{{ product.variants[0].id }}" data-selected-variant-id="{%if number_of_variants == '1' %}{{product.variants[0].id}}{%else%}{{currentVariant.id}}{%endif%}">


  <div class="content">
    <div class="grid">

      <div id="product-gallery" class="grid-item" data-product-image-count="{{ product.images | size }}">
        <div class="inner">

          {% comment %} Gallery thumbmails {% endcomment %}
          <div class="gallery-thumbnails loading">
            {% if hasDiscVariants == true %}

              {% assign productTitle = product.title %}
              {% for image in product.images %}
                {% assign altTextLowercase = image.alt | downcase %}
                {% assign newAltText = productTitle | append: ' - '| append: image.alt %}
                {% assign currentDiscCountLowercase = currentDiscCount | downcase %}
                {% if altTextLowercase contains 'disc' %}
                  {% if altTextLowercase == currentDiscCountLowercase %}
                    {% if image.alt contains '.m4v' or image.alt contains '.mp4' %}
                      <a href="javascript:;" class="gallery-thumbnail video-thumbnail{% if forloop.index == 1 %} active{% endif %}" style="background-image: url('{{image.src | img_url: '1024x1024'}}');" data-video-url="{{ image.alt }}"></a>
                    {% else %}
                      <a href="javascript:;" class="gallery-thumbnail{% if forloop.index == 1 %} active{% endif %}" style="background-image: url('{{image.src | img_url: '1024x1024'}}');"></a>
                    {% endif %}
                  {% endif %}
                {% else %}
                  {% if image.alt contains '.m4v' or image.alt contains '.mp4' %}
                    <a href="javascript:;" class="gallery-thumbnail video-thumbnail{% if forloop.index == 1 %} active{% endif %}" style="background-image: url('{{image.src | img_url: '1024x1024'}}');" data-video-url="{{ image.alt }}"></a>
                  {% else %}
                    <a href="javascript:;" class="gallery-thumbnail{% if forloop.index == 1 %} active{% endif %}" style="background-image: url('{{image.src | img_url: '1024x1024'}}');"></a>
                  {% endif %}
                {% endif %}
              {% endfor %}

            {% else %}

              {% for image in product.images %}
                {% if image.alt contains '.m4v' or image.alt contains '.mp4' %}
                  <a href="javascript:;" class="gallery-thumbnail video-thumbnail{% if forloop.index == 1 %} active{% endif %}" style="background-image: url('{{image.src | img_url: '1024x1024'}}');" data-video-url="{{ image.alt }}"></a>
                {% else %}
                  <a href="javascript:;" class="gallery-thumbnail{% if forloop.index == 1 %} active{% endif %}" style="background-image: url('{{image.src | img_url: '1024x1024'}}');"></a>
                {% endif %}
              {% endfor %}

            {% endif %}
          </div> <!-- end .gallery-thumbnails -->

          {% comment %} Main gallery {% endcomment %}
          <div class="display-box">
            <div class="slider loading">

              {% if hasDiscVariants == true %}

                {% assign productTitle = product.title %}
                {% for image in product.images %}
                  {% assign altTextLowercase = image.alt | downcase %}
                  {% assign newAltText = productTitle | append: ' - '| append: image.alt %}
                  {% assign currentDiscCountLowercase = currentDiscCount | downcase %}
                  {% if altTextLowercase contains 'disc' %}
                    {% if altTextLowercase == currentDiscCountLowercase %}
                      <div><img class="object-cover gesture-scalable" src="{{image.src | img_url: '1024x1024'}}" alt="{{ newAltText }}"></div>
                    {% endif %}
                  {% else %}
                    {% if image.alt contains '.m4v' or image.alt contains '.mp4' %}
                      {% comment %} Video attributes below are necessary for video to work on iOS && Andriod {% endcomment %}
                      <div><video src="{{ image.alt | escape }}" preload="auto" loop muted playsinline webkit-playsinline disableRemotePlayback></video></div>
                    {% else %}
                      <div><img class="object-cover gesture-scalable" src="{{image.src | img_url: '1024x1024'}}" alt="{{ image.alt | escape }}"></div>
                    {% endif %}
                  {% endif %}
                {% endfor %}

              {% else %}

                {% for image in product.images %}
                  {% if image.alt contains '.m4v' or image.alt contains '.mp4' %}
                    {% comment %} Video attributes below are necessary for video to work on iOS && Andriod {% endcomment %}
                    <div><video src="{{ image.alt | escape }}" preload="auto" loop muted playsinline webkit-playsinline disableRemotePlayback></video></div>
                  {% else %}
                    <div><img class="object-cover gesture-scalable" src="{{image.src | img_url: '1024x1024'}}" alt="{{ image.alt | escape }}"></div>
                  {% endif %}
                {% endfor %}

              {% endif %}

            </div> <!-- end .slider -->

            <a href="javascript:;" class="wishlist-add"></a>
          </div>

        </div>
      </div> <!-- end #product-gallery -->


      <div id="product-info" class="grid-item">
        <div class="inner">

          {% comment %} Product title {% endcomment %}
          {% if product.title contains '-' %}
            <h1>{{ product.title | replace_first:"-","<span>" }}</span></h1>
          {% elsif hasDiscVariants == true %}
            <h1>{{ product.title }} <span>{{ currentVariant.title }}</span></h1>
          {% else %}
          	<h1>{{ product.title }}</h1>
          {% endif %}

          <div class="metal-switcher">
            <a href="javascript:;" class="solid-rose-gold"></a>
            <a href="javascript:;" class="solid-white-gold"></a>
            <a href="javascript:;" class="solid-gold active"></a>
          </div>

          {% comment %} Sets boolean to reflect whether item is eligible for financing {% endcomment %}
          {% assign financing_eligible = false %}
          {% for collection in product.collections %}
            {% if financing_eligible == false and collection.title == 'PP Collection' %}
            	{% assign financing_eligible = true %}
            {% endif %}
          {% endfor %}

          {% if financing_eligible %}
            <div class="finance-options">
              <span id="product-price" class="product-price price" itemprop="priceCurrency" content="EUR">{{ currentVariant.price | money }}</span>
              <span class="finance-options-trigger">Finance Options</span>
              <div class="finance-options-tooltip">
                {% if cart.currency.iso_code == 'EUR' %}
                This product has options for financing. <a href="/pages/payment-plan-product-page#product-{{ product.handle }}">Learn More</a>
                {% else %}
                This product has options for financing. <a href="/pages/payment-plan-landing-page">Learn More</a>
                {% endif %}
              </div>
            </div>
          {% else %}
           <span id="product-price" class="product-price price" data-temp itemprop="priceCurrency" content="EUR">{{ currentVariant.price | money }}</span>
          {% endif %}

          {% comment %} Free delivery message {% endcomment %}
          {% if productTitleLowercase contains 'solid' or product.tags contains 'solid' or product.tags contains 'solid gold' or product.tags contains 'solidGold' %}
            <p class="shipping">Free worldwide delivery via DHL and 100 days for returns</p>
          {% else %}
            <p class="shipping">Free worldwide delivery and 100 days for returns</p>
          {% endif %}


          <div class="product-customise">

            {% if product.tags contains 'customise:ring-size' or product.tags contains 'sgr' or product.tags contains 'SGR' %}
              <!-- Customise Ring Size -->
              {% render 'product-customise-ring-size' with product as product %}
            {% endif %}


            {% if product.tags contains 'customise:ring-size-double' %}
              <!-- Customise Ring Size Double -->
              {% render 'product-customise-ring-size-double' with product as product %}
            {% endif %}


            {% if product.tags contains 'customise:gemstone' or product.tags contains 'birthstone' %}
              <!-- Customise Birthstone -->
              {% render 'product-customise-birthstone' with product as product %}
            {% endif %}


            {% if product.tags contains 'customise:starsign' or product.tags contains 'starsign' or product.tags contains 'Starsign' %}
              <!-- Customise Starsigns -->
              {% render 'product-customise-starsign' with product as product %}
            {% endif %}


            {% if product.tags contains 'customise:starsign-symbol' %}
              <!-- Customise Starsigns Symbol -->
              {% render 'product-customise-starsign-symbol' with product as product %}
            {% endif %}


            {% if product.tags contains 'customise:zodiac' or product.tags contains 'zodiac' or product.tags contains 'Zodiac' %}
              <!-- Customise Zodiac -->
              {% render 'product-customise-zodiac' with product as product %}
            {% endif %}


            {% if product.tags contains 'customise:coordinates' or product.tags contains 'coordinates' productTitleLowercase contains 'coordinates' %}
              <!-- Customise Coordinates -->
              {% render 'product-customise-coordinates' with product as product %}
            {% endif %}


            {% if product.tags contains 'customise:initials' or product.tags contains 'initial' %}
              <!-- Customise Initials -->
              {% render 'product-customise-initials' with product as product, currentDiscCount: currentDiscCount %}
            {% endif %}

          </div> <!-- end .product-customise -->

          <div id="product-cta" class="">
            <div class="inner">
              <div class="grid">
                <a href="javascript:;" id="add-to-bag" class="add-to-bag btn btn-dark btn-solid">Add to Bag</a>
                <div class="share">
                  <span>Share</span>
                  <ul class="share-list">
                    <li><a class="share-link" href="https://twitter.com/intent/tweet?text=I love this! What do you think? {{shop.domain}}{{product.url}}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><img class="share-link" src="{{ 'social-twitter-dark.svg' | asset_url }}" title="Share on Twitter"/></a></li>
                    <li><a class="share-link" href="http://www.facebook.com/sharer.php?u={{shop.domain}}{{product.url}}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><img class="share-link" src="{{ 'social-facebook-dark.svg' | asset_url }}" title="Share on Facebook"/></a></li>
                    <li><a class="share-link" href="http://pinterest.com/pin/create/button/?url={{shop.url}}{{page.url}}&description=I%20love%20this%21%20What%20do%20you%20think%3F%20%2D%20{{ product.title }}&is_video=false&media={{ product.images[0] | product_img_url: 'large' }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><img class="share-link" src="{{ 'social-pinterest-dark.svg' | asset_url }}" title="Share on Pinterest"/></a></li>
                    <li><a class="share-link" href="mailto:?subject=I love this! What do you think?&amp;body=Hi%2C%0A%0AI%20love%20this!%20What%20do%20you%20think%3F%0A%0A%0A{{shop.domain}}{{product.url}}"><img class="share-link" src="{{ 'social-email-dark.svg' | asset_url }}" title="Share via email"/></a></li>
                    <li class="mobile-only"><a class="share-link" href="whatsapp://send?text=Hi%2C%0A%0AI%20love%20this!%20What%20do%20you%20think%3F%0A%0A%0A{{shop.url}}{{product.url}}" data-action="share/whatsapp/share"><img class="share-link" src="{{ 'social-whatsapp-dark.svg' | asset_url }}" title="Share on WhatsApp"/></a></li>
                  </ul>
                </div>
                <a href="javascript:;" class="wishlist-add">
                  <span class="mobile-only">Add</span>
                  <span class="desktop-only">Add to Wishlist</span>
                </a>
                <a href="javascript:;" id="dah-open" class="send-hint">
                  <span class="mobile-only">Hint</span>
                  <span class="desktop-only">Send A Hint</span>
                </a>
              </div>
            </div>
          </div>

        </div> <!-- end .inner -->
      </div> <!-- end #product-info -->

    </div> <!-- end .grid -->
  </div> <!-- end .content -->

</section>




{% render 'section-product-details' %}




{% render 'section-our-promise' %}





<section id="product-sustainability">
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <h2><span>Jewellery &amp; Packaging</span> Sustainable yet precious</h2>
        <p>Sustainability is at the heart of everything we do. Inspired by our heritage and our values,
          all of our packaging is made using FSC certified wood.
          Each piece of packaging can be recycled except our blush pink boxes which are designed to hold your heirlooms.
          All of our precious jewellery is made using ethical gold and conflict free stones.</p>
      </div>
      <div class="grid-item">
        <img src="{{ 'sustainability-packaging.jpg' | asset_url}}" alt="Sustainability packaging">
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>





{% render 'section-ugc' %}





{% render 'section-customer-stories' %}





{% render 'section-press-quotes' %}





{% render 'section-faq' %}





{% render 'section-related-products' %}







<!-- Hint drawer -->
<aside id="hint-drawer" class="drawer">

  <div class="drawer-back"></div>

  <div class="drawer-header">
    <h2>Drop A Hint</h2>
    <a href="javascript:;" class="close-btn"></a>
  </div>

  <div class="drawer-main">

    <div id="hint-form">
      <form role="form" novalidate="true">

        <fieldset>
          <h3>Who’s the hint for?</h3>
          <div class="form-field required floating-label">
            <label>Their name</label>
            <input type="text" class="form-control" name="recipient-name" id="hint-recipient-name" placeholder="" data-error="Please provide a name for the recipient" required="">
          </div>
          <div class="form-field required floating-label">
            <label>Their email address</label>
            <input type="email" class="form-control" name="recipient-email" id="hint-recipient-email" placeholder="" data-error="Please provide a valid email address" required="">
          </div>
        </fieldset>
        <fieldset>
          <h3>Your details</h3>
          <div class="form-field required floating-label">
            <label>Your name</label>
            <input type="text" class="form-control" name="sender-name" id="hint-sender-name" placeholder="" data-error="Please provide your name" required="">
          </div>
          <div class="form-field required floating-label">
            <label>Your email address</label>
            <input type="email" class="form-control" name="sender-email" id="hint-sender-email" placeholder="" data-error="Please provide a valid email address" required="">
          </div>
          <div class="form-field">
            <input type="checkbox" name="" id="hint-sender-copy">
            <label for="hint-sender-copy">I’d like to receive a copy of the hint</label>
          </div>
        </fieldset>
        <fieldset>
          <h3>Anything else?</h3>
          <div class="form-field">
            <textarea class="form-control" id="hint-sender-extra" placeholder="You can pop any extra details such as your ring size in here"></textarea>
          </div>
          <div class="form-field">
            <input type="checkbox" name="" id="hint-sign-up">
            <label for="hint-sign-up">I wish to receive the latest news and exclusives from Chupi</label>
          </div>
        </fieldset>
        <div id="hint-send-group" class="form-field">
          <button id="hint-send" type="submit" class="btn btn-dark btn-solid disabled">Send my Hint</button>
        </div>

      </form>
    </div>

    <div id="hint-message">
      <div class="inner">
        <h2><img src="{{ 'paper-plane-dark.svg' | asset_url}}" alt="Plane icon">Drop A Hint</h2>
        <img src="{{ product.images[0].src | img_url: '600x600' }}}" alt="{{ product.images[0].alt }}"/>
        <p>Dear <span id="hint-message-recipient-name"></span></p>
        <p>We happen to know that the &ldquo;<span id="hint-message-product-title">{{ product.title }}</span>&rdquo; would make <span id="hint-message-sender-name"></span> ridiculously happy!</p>
        <p>Happy shopping! <br>The Chupi Team</p>
        <p class="additional-text">P.S.<span id="hint-message-additional"></span></p>
      </div>
    </div>

  </div> <!-- end .drawer-main -->

</aside> <!-- end #hint-drawer -->
