
{% comment %} Set global product variables {% endcomment %}
{% assign productTitleLowercase = product.title | downcase %}
{% assign currentVariant = product.selected_or_first_available_variant %}
{% assign hasDiscVariants = false %}
{% assign currentDiscCount = '' %}
{% for option in product.options %}
  {% if option == 'Discs' %}
    {% for product_option in product.options_with_values %}
      {% assign hasDiscVariants = true %}
      {% assign currentDiscCount = product_option.selected_value %}
    {% endfor %}
  {% endif %}
{% endfor %}




<section id="hvp-top" class="section-top">

  <div class="content">
    <div class="grid">

      <div class="grid-item">

        {% comment %} Product title {% endcomment %}
        {% if product.title contains '-' %}
          <h1>{{ product.title | replace_first:"-","<span>" }}</span></h1>
        {% elsif hasDiscVariants == true %}
          <h1>{{ product.title }} <span>{{ currentVariant.title }}</span></h1>
        {% else %}
        	<h1>{{ product.title }}</h1>
        {% endif %}

        <div class="metal-switcher">
          <a href="javascript:;" class="solid-rose-gold"></a>
          <a href="javascript:;" class="solid-white-gold"></a>
          <a href="javascript:;" class="solid-gold active"></a>
        </div>

        <a href="javascript:;" class="wishlist-add"></a>

        {% comment %} Sets boolean to reflect whether item is eligible for financing {% endcomment %}
        {% assign financing_eligible = false %}
        {% for collection in product.collections %}
          {% if financing_eligible == false and collection.title == 'PP Collection' %}
          	{% assign financing_eligible = true %}
          {% endif %}
        {% endfor %}

        {% if financing_eligible %}
          <div class="finance-options">
            <span class="price" itemprop="priceCurrency" content="EUR">{{ currentVariant.price | money }}</span>
            <span class="finance-options-trigger">Finance Options</span>
            <div class="finance-options-tooltip">
              {% if cart.currency.iso_code == 'EUR' %}
              This product has options for financing. <a href="/pages/payment-plan-product-page#product-{{ product.handle }}">Learn More</a>
              {% else %}
              This product has options for financing. <a href="/pages/payment-plan-landing-page">Learn More</a>
              {% endif %}
            </div>
          </div>
        {% else %}
         <span class="price" data-temp itemprop="priceCurrency" content="EUR">{{ currentVariant.price | money }}</span>
        {% endif %}

        {% if product.tags contains 'piece:engagement-ring' or product.tags contains 'piece:wedding-ring' %}
          <a href="javascript:;" class="book-appointment">Book In-Store Consultation</a>
        {% endif %}

        {% comment %} Free delivery message {% endcomment %}
        {% if productTitleLowercase contains 'solid' or product.tags contains 'solid' or product.tags contains 'solid gold' or product.tags contains 'solidGold' %}
          <p class="shipping">Free worldwide delivery via DHL and 100 days for returns</p>
        {% else %}
          <p class="shipping">Free worldwide delivery and 100 days for returns</p>
        {% endif %}

      </div>

      <div class="grid-item">
        <img src="{{ product.images[4].src | img_url: '2048x2048' }}}" alt="{{ product.images[4].alt }}"/>
      </div>

      <div id="hvp-top-bar" class="grid-item">

        <div class="grid-item">

          {% if product.tags contains 'customise:ring-size' or product.tags contains 'sgr' or product.tags contains 'SGR' %}
            <!-- Customise Ring Size -->
            {% render 'product-customise-ring-size' with product as product %}
          {% endif %}

          <a href="javascript:;" id="add-to-bag" class="btn btn-dark btn-solid">Add to Bag</a>

        </div>

        <div class="grid-item">
          <div class="share">
            <span>Share</span>
            <ul class="share-list">
              <li><a class="share-link" href="https://twitter.com/intent/tweet?text=I love this! What do you think? {{shop.domain}}{{product.url}}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><img class="share-link" src="{{ 'social-twitter-dark.svg' | asset_url }}" title="Share on Twitter"/></a></li>
              <li><a class="share-link" href="http://www.facebook.com/sharer.php?u={{shop.domain}}{{product.url}}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><img class="share-link" src="{{ 'social-facebook-dark.svg' | asset_url }}" title="Share on Facebook"/></a></li>
              <li><a class="share-link" href="http://pinterest.com/pin/create/button/?url={{shop.url}}{{page.url}}&description=I%20love%20this%21%20What%20do%20you%20think%3F%20%2D%20{{ product.title }}&is_video=false&media={{ product.images[0] | product_img_url: 'large' }}" onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><img class="share-link" src="{{ 'social-pinterest-dark.svg' | asset_url }}" title="Share on Pinterest"/></a></li>
              <li><a class="share-link" href="mailto:?subject=I love this! What do you think?&amp;body=Hi%2C%0A%0AI%20love%20this!%20What%20do%20you%20think%3F%0A%0A%0A{{shop.domain}}{{product.url}}"><img class="share-link" src="{{ 'social-email-dark.svg' | asset_url }}" title="Share via email"/></a></li>
              <li class="mobile-only"><a class="share-link" href="whatsapp://send?text=Hi%2C%0A%0AI%20love%20this!%20What%20do%20you%20think%3F%0A%0A%0A{{shop.url}}{{product.url}}" data-action="share/whatsapp/share"><img class="share-link" src="{{ 'social-whatsapp-dark.svg' | asset_url }}" title="Share on WhatsApp"/></a></li>
            </ul>
          </div>
          <a href="javascript:;" class="wishlist-add">
            <span class="mobile-only">Add</span>
            <span class="desktop-only">Add to Wishlist</span>
          </a>
          <a href="javascript:;" id="dah-open" class="send-hint">
            <span class="mobile-only">Hint</span>
            <span class="desktop-only">Send A Hint</span>
          </a>
        </div>

      </div> <!-- end #hvp-top-bar -->

    </div> <!-- end .grid -->
  </div> <!-- end .content -->

</section>




{% render 'section-product-details' %}




<section id="hvp-main-images">
  <div class="content">
    <div class="grid">
      {% comment %} Loop for images 1, 2, and 3 (base 0) {% endcomment %}
      {% for i in (1..3) %}
        {% assign altText = product.images[i].alt %}
        {% if altText contains '.m4v' or altText contains '.mp4' %}
          <div class="grid-item"><video src="{{ altText }}" type="video" playsinline autoplay muted loop disableRemotePlayback></video></div>
        {% else %}
          {% if i == 3 %} {% comment %} Use high res for last image (close-up shot) {% endcomment %}
            <div class="grid-item"><img src="{{ product.images[i].src | img_url: '2048x2048' }}}" alt="{{ altText }}"/></div>
          {% else %}
            <div class="grid-item"><img src="{{ product.images[i].src | img_url: '1024x1024' }}}" alt="{{ altText }}"/></div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>




<section id="hvp-block-images" class="">
  <div class="content">
    <div class="grid">
      {% comment %} Loop for images 5, 6, 7, 8, and 9 (base 0) {% endcomment %}
      {% for i in (5..9) %}
        {% assign altText = product.images[i].alt %}
        {% if altText contains '.m4v' or altText contains '.mp4' %}
          <div class="grid-item"><video src="{{ altText }}" type="video" playsinline autoplay muted loop disableRemotePlayback></video></div>
        {% else %}
          <div class="grid-item"><img src="{{ product.images[i].src | img_url: '1024x1024' }}}" alt="{{ altText }}"/></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>




<section id="wedding-match">

  {% for product in collection['filter-test'].products%}
    {{ product.title }}
  {% endfor %}

  <div class="content">
    <h2><span>Match your love </span> Men’s Wedding Rings</h2>

    <div class="grid">

      <div class="grid-item">
        <div class="card product-card">
          <img class="object-cover" src="img/product/body/body-product1.jpg" alt="I’d be lost without you">
          <div class="inner">
            <div class="upper">
              <a href="product.html"><img src="img/product/hvp/mens-wedding-band.jpg" alt="Alt text"></a>
              <span class="variant-switcher variant-birthstones">12 Birthstones</span>
            </div>
            <a href="product.html"><h3>Darling In The Complete Absolute Wild<span>Classic Engagement Ring</span></h3></a>
          </div>
          <a href="javascript:;" class="wishlist-add"></a>
          <div class="metal-switcher">
            <a href="javascript:;" class="solid-rose-gold"></a>
            <a href="javascript:;" class="solid-white-gold"></a>
            <a href="javascript:;" class="solid-gold active"></a>
          </div>
          <span class="price">€4,789</span>
        </div> <!-- end .product-card -->
      </div>

      <div class="grid-item">
        <div class="card product-card">
          <img class="object-cover" src="img/product/body/body-product2.jpg" alt="I’d be lost without you">
          <div class="inner">
            <div class="upper">
              <a href="product.html"><img src="img/product/hvp/mens-wedding-band.jpg" alt="Alt text"></a>
            </div>
            <a href="product.html"><h3>Darling In The Wild<span>Classic Engagement Ring</span></h3></a>
          </div>
          <a href="javascript:;" class="wishlist-add"></a>
          <div class="metal-switcher">
            <a href="javascript:;" class="solid-rose-gold"></a>
            <a href="javascript:;" class="solid-white-gold"></a>
            <a href="javascript:;" class="solid-gold active"></a>
          </div>
          <span class="price">€4,789</span>
        </div> <!-- end .product-card -->
      </div>

      <div class="grid-item">
        <div class="card product-card">
          <img class="object-cover" src="img/product/body/body-product3.jpg" alt="I’d be lost without you">
          <div class="inner">
            <div class="upper">
              <a href="product.html"><img src="img/product/hvp/mens-wedding-band.jpg" alt="Alt text"></a>
              <span class="variant-switcher variant-starsigns">12 Starsigns</span>
            </div>
            <a href="product.html"><h3>Darling In The Complete Absolute Wild<span>Classic Engagement Ring</span></h3></a>
          </div>
          <a href="javascript:;" class="wishlist-add"></a>
          <div class="metal-switcher">
            <a href="javascript:;" class="solid-rose-gold"></a>
            <a href="javascript:;" class="solid-white-gold"></a>
            <a href="javascript:;" class="solid-gold active"></a>
          </div>
          <span class="price">€4,789</span>
        </div> <!-- end .product-card -->
      </div>

    </div> <!-- end .grid -->

  </div> <!-- end .content -->

</section>



<section id="hvp-four-cs" class="image-cover" style="background-image: url('img/product/hvp/four-cs-bg.jpg')">
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <h2><span>The important details in </span> Choosing your ring</h2>
        <p>Determining the quality of a gemstone involves what jewellers refer to as the “Four C’s”; Cut, Colour, Clarity and Carat.</p>
        <div class="options">
          <a href="javascript:;" class="current">Cut</a>
          <a href="javascript:;">Colour</a>
          <a href="javascript:;">Clarity</a>
          <a href="javascript:;">Carat</a>
          <div class="underline"></div>
        </div>
        <div class="descriptions">
          <div class="description active">
            <p>The cut refers to the design of the stone, such as round or oval.
            Each cut sparkles in its own way and this is an important factor as it determines the shape of the stone you want to go for.</p>
          </div>
          <div class="description">
            <p>This refers to the colour of the stone. With grey diamonds, morganites & rubies you want a colourful stone,
              but with white or classic diamonds you want a completely colourless stone.</p>
          </div>
          <div class="description">
            <p>Clarity refers to the number of amazing inclusions in a gemstone. With grey diamonds we look for the most beautiful inclusions,
              like a scattering of stars sparkling in the night sky, but with white or classic diamonds we look for no inclusions.
              Morganites are clear whilst other stones like moonstone or tourmaline have the most beautiful, exciting inclusions.</p>
          </div>
          <div class="description">
            <p>Carat is a measurement of weight, not love. It is simply what the precious stone weighs in metric carats which are a unit of measurement like kilos or pounds.</p>
          </div>
        </div> <!-- end .grid -->
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>



<section id="hvp-pairing">
  <div class="content">
    <h2><span>Match your band with a sparking </span> Wedding Ring</h2>
    <div class="grid">
      <div class="grid-item main">
        <img src="img/product/hvp/Chupi-Solid-Gold-Polished-Band-Ring-You-Me-and-Magic-Grey-Diamond.jpg" alt="Alt text">
        <h3>Solid Gold Crown of Love Ring Classic Diamond</h3>
        <a href="javscript:;" class="btn btn-dark">View ring</a>
      </div>
      <div class="grid-item active">
        <img src="img/product/hvp/hvp-main-image-1.jpg" alt="Alt text">
        <a href="javascript:;" class="wishlist-add"></a>
      </div>
      <div class="grid-item">
        <img src="img/product/hvp/hvp-main-image-2.jpg" alt="Alt text">
        <a href="javascript:;" class="wishlist-add"></a>
      </div>
      <div class="grid-item">
        <img src="img/product/hvp/hvp-main-image-3.jpg" alt="Alt text">
        <a href="javascript:;" class="wishlist-add"></a>
      </div>
      <div class="grid-item">
        <img src="img/product/hvp/hvp-main-image-1.jpg" alt="Alt text">
        <a href="javascript:;" class="wishlist-add"></a>
      </div>
    </div>
  </div>
</section> <!-- end #hvp-pairing -->



<section id="hvp-guarantee">
  <div class="content">
    <h2>Our Guarantee</h2>
    <p>Our precious solid gold jewellery is guaranteed to be free from any issues in craftsmanship for five years.
      Each piece includes access to complementary repairs within the guarantee period and with our free ring cleaning service.</p>
    <div class="grid">

      <div class="grid-item">
        <h2><span>Our Diamonds </span> Ethically sourced and truly unique</h2>
        <p>Diamonds come in every colour, from bright sparkling white to the deepest darkest black
          with so many beautiful grey diamonds in between. We adore grey diamonds, also known as Salt & Pepper Diamonds,
          as their glittering inclusions and colour sets them apart.</p>
      </div>
      <div class="grid-item">
        <img src="img/product/hvp/guarantee-image-1.jpg" alt="Alt text here">
      </div>

      <div class="grid-item">
        <h2><span>Alternative Stones </span> A glittering selection</h2>
        <p>While the traditional stone of an engagement ring is a classic diamond,
          it doesn’t have to be a diamond ring to be an engagement ring.
          We offer lots of beautiful alternative stones including: emeralds, morganites and even cultivated stones such as moissanites.</p>
      </div>
      <div class="grid-item">
        <img src="img/product/hvp/guarantee-image-2.jpg" alt="Alt text here">
      </div>

      <div class="grid-item">
        <h2><span>Jewellery & Packaging </span> Sustainable yet precious</h2>
        <p>Sustainability is at the heart of everything we do. Inspired by our heritage and our values,
          all of our packaging is made using FSC certified wood.
          Each piece of packaging can be recycled except our blush pink boxes which are designed to hold your heirlooms.
          All of our precious jewellery is made using ethical gold and conflict free stones.</p>
      </div>
      <div class="grid-item">
        <img src="img/misc/sustainability-packaging.jpg" alt="Alt text here">
      </div>

    </div>
  </div>
</section>



<section id="hvp-ugc" class="ugc-section">
  <div class="content">
    <h2><span>Styled on</span> Instagram</h2>
    <div class="ugc-container">

    </div> <!-- end .ugc-container -->
    <p>Share a photo of your x style by tagging <span>#lovechupi</span></p>
  </div> <!-- end .content -->
</section>



<section id="hvp-customer-stories" class="customer-stories">
  <div class="content">
    <h2>Customer Stories</h2>
    <div class="grid">
      <div class="grid-item customer-photos" data-active-index="2">
        <div class="customer-photo" style="background-image: url(img/misc/customer-story-1.jpg);"></div> <!-- Customer 1 -->
        <div class="customer-photo active" style="background-image: url(img/misc/customer-story-2.jpg);"></div> <!-- Customer 2 -->
        <div class="customer-photo" style="background-image: url(img/misc/customer-story-3.jpg);"></div> <!-- Customer 3 -->
      </div>
      <div class="grid-item">
        <div class="customer-quote"> <!-- Customer 1 -->
          <p>My ring is AMAZING!!! It sparkles SOOOO much. It gives me so much peace of mind knowing where my engagement ring comes from and all the hard work involved in making it.</p>
          <span>Julie Lynn & Sam Rockwell</span>
        </div>
        <div class="customer-quote active"> <!-- Customer 2 -->
          <p>It gives me so much peace of mind knowing where my engagement ring comes from and all the hard work involved in making it.</p>
          <span>Sam Rockwell & Julie Lynn</span>
        </div>
        <div class="customer-quote"> <!-- Customer 3 -->
          <p>It sparkles SOOOO much. It gives me so much peace of mind knowing where my engagement ring comes from and all the hard work involved in making it.</p>
          <span>Sulie Rynn & Jam Lockwell</span>
        </div>
        <a href="javascript:;">More Stories</a>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>



<section id="hvp-press-quotes" class="press-quotes image-cover" style="background-image: url(img/banner/product-press-bg2.jpg);">
  <div class="content">
    <h2>In the press</h2>
    <div class="press-quotes">
      <div class="press-quote active"><p>I love the idea of buying something now that will become an heirloom for my future children to cherish forever</p></div>
      <div class="press-quote"><p>The jewelry that you’ll probably see on Instagram at least 100 times today</p></div>
      <div class="press-quote"><p>Chupi makes delicate jewellery inspired by the stories of her childhood in Ireland</p></div>
      <div class="press-quote"><p>Convincing Us To Ditch Traditional Rings</p></div>
      <div class="press-quote"><p>One of the Five Best Places to Shop in Dublin</p></div>
    </div>
    <div class="grid press-logos">
      <div class="press-logo current"><img src="img/misc/press-logo-vogue.png" alt="Vogue" title="Vogue"></div>
      <div class="press-logo"><img src="img/misc/press-logo-marie-claire.png" alt="Marie Claire" title="Marie Claire"></div>
      <div class="press-logo"><img src="img/misc/press-logo-sunday-times.png" alt="The Sunday Times" title="The Sunday Times"></div>
      <div class="press-logo"><img src="img/misc/press-logo-refinery29.png" alt="Refinery 29" title="Refinery 29"></div>
      <div class="press-logo"><img src="img/misc/press-logo-new-york-times.png" alt="New York Times" title="New York Times"></div>
      <div class="underline"></div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>



<section id="hvp-cta-simple" class="cta-simple">
  <div class="content">
    <div class="grid">
      <div class="grid-item">
        <span class="pre-heading">Need help?</span>
        <h2>Let us help you find your perfect ring</h2>
        <p>We ask a few simple questions, crunch the numbers and calculate a size recommendation. It’s not science but we like to be helpful :)</p>
        <a href="javscript:;" class="btn btn-dark">Start now</a>
      </div>
    </div> <!-- end .grid -->
  </div> <!-- end .content -->
</section>



<section id="hvp-faq" class="faq-section">
  <div class="content">
    <h2><span>Commonly Asked</span> Questions</h2>
    <!-- Two columns for desktop show/hide to work independently -->
    <div class="grid"> <!-- Left column -->
      <div class="grid-item">
        <a href="javascript:;" class="question">Where do you ship to?</a>
        <div class="answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
        </div>
      </div>
      <div class="grid-item">
        <a href="javascript:;" class="question">Do you offer an engraving service?</a>
        <div class="answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
        </div>
      </div>
      <div class="grid-item">
        <a href="javascript:;" class="question">What is your returns policy?</a>
        <div class="answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
        </div>
      </div>
    </div> <!-- end .grid -->
    <div class="grid"> <!-- Right column -->
      <div class="grid-item">
        <a href="javascript:;" class="question">Where do you ship to?</a>
        <div class="answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
        </div>
      </div>
      <div class="grid-item">
        <a href="javascript:;" class="question">What’s the estimated delivery time?</a>
        <div class="answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
        </div>
      </div>
      <div class="grid-item">
        <a href="javascript:;" class="question">Can I track my order?</a>
        <div class="answer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam cursus mi gravida.</p>
        </div>
      </div>
    </div> <!-- end .grid -->
    <div class="cta">
      <a href="javascript:;" class="btn btn-dark btn-solid">Need something else?</a>
    </div>
  </div> <!-- end .content -->
</section>






<!-- Hint drawer -->
<aside id="hint-drawer" class="drawer">

  <div class="drawer-back"></div>

  <div class="drawer-header">
    <h2>Drop A Hint</h2>
    <a href="javascript:;" class="close-btn"></a>
  </div>

  <div class="drawer-main">

    <div id="hint-form">
      <form role="form" novalidate="true">

        <fieldset>
          <h3>Who’s the hint for?</h3>
          <div class="form-field required floating-label">
            <label>Their name</label>
            <input type="text" class="form-control" name="recipient-name" id="hint-recipient-name" placeholder="" data-error="Please provide a name for the recipient" required="">
          </div>
          <div class="form-field required floating-label">
            <label>Their email address</label>
            <input type="email" class="form-control" name="recipient-email" id="hint-recipient-email" placeholder="" data-error="Please provide a valid email address" required="">
          </div>
        </fieldset>
        <fieldset>
          <h3>Your details</h3>
          <div class="form-field required floating-label">
            <label>Your name</label>
            <input type="text" class="form-control" name="sender-name" id="hint-sender-name" placeholder="" data-error="Please provide your name" required="">
          </div>
          <div class="form-field required floating-label">
            <label>Your email address</label>
            <input type="email" class="form-control" name="sender-email" id="hint-sender-email" placeholder="" data-error="Please provide a valid email address" required="">
          </div>
          <div class="form-field">
            <input type="checkbox" name="" id="hint-sender-copy">
            <label for="hint-sender-copy">I’d like to receive a copy of the hint</label>
          </div>
        </fieldset>
        <fieldset>
          <h3>Anything else?</h3>
          <div class="form-field">
            <textarea class="form-control" id="hint-sender-extra" placeholder="You can pop any extra details such as your ring size in here"></textarea>
          </div>
          <div class="form-field">
            <input type="checkbox" name="" id="hint-sign-up">
            <label for="hint-sign-up">I wish to receive the latest news and exclusives from Chupi</label>
          </div>
        </fieldset>
        <div id="hint-send-group" class="form-field">
          <button id="hint-send" type="submit" class="btn btn-dark btn-solid disabled">Send my Hint</button>
        </div>

      </form>
    </div>

    <div id="hint-message">
      <div class="inner">
        <h2><img src="{{ 'paper-plane-dark.svg' | asset_url}}" alt="Plane icon">Drop A Hint</h2>
        <img src="{{ product.images[0].src | img_url: '600x600' }}}" alt="{{ product.images[0].alt }}"/>
        <p>Dear <span id="hint-message-recipient-name"></span></p>
        <p>We happen to know that the &ldquo;<span id="hint-message-product-title">{{ product.title }}</span>&rdquo; would make <span id="hint-message-sender-name"></span> ridiculously happy!</p>
        <p>Happy shopping! <br>The Chupi Team</p>
        <p class="additional-text">P.S.<span id="hint-message-additional"></span></p>
      </div>
    </div>

  </div> <!-- end .drawer-main -->

</aside> <!-- end #hint-drawer -->
