
{% comment %} To be included on product pages {% endcomment %}

<div class="customise-section customise-birthstone" data-customise-selection="" data-required-text="Choose a birthstone">
  <a href="javascript:;" class="dropdown-btn" data-default-text="Select birthstone">Select birthstone</a>
  <a href="javascript:;" class="guide-btn">Stone Guide</a>
  <div class="dropdown-panel">
    <div class="dropdown-panel-header">
      <h3>Select birthstone</h3>
      <a href="javascript:;" class="close-btn"></a>
    </div>
    <div class="dropdown-panel-main">
      <ul class="grid birthstone-options">
        <li><a href="javascript:;" class="birthstone-option dropdown-option"><img src="{{ 'birthstone-solid-gold-jan.png' | asset_url}}" alt="">January Garnet</a></li>
        <li><a href="javascript:;" class="birthstone-option dropdown-option"><img src="{{ 'birthstone-solid-gold-feb.png' | asset_url}}" alt="">February Amethyst</a></li>
        <li><a href="javascript:;" class="birthstone-option dropdown-option"><img src="{{ 'birthstone-solid-gold-mar.png' | asset_url}}" alt="">March Aquamarine</a></li>
        <li><a href="javascript:;" class="birthstone-option dropdown-option"><img src="{{ 'birthstone-solid-gold-apr.png' | asset_url}}" alt="">April Topaz</a></li>
        <li><a href="javascript:;" class="birthstone-option dropdown-option"><img src="{{ 'birthstone-solid-gold-may.png' | asset_url}}" alt="">May Emerald</a></li>
        <li><a href="javascript:;" class="birthstone-option dropdown-option"><img src="{{ 'birthstone-solid-gold-jun.png' | asset_url}}" alt="">June Morganite</a></li>
        <li class="no-birthstone"><a href="javascript:;" class="birthstone-option dropdown-option">No birthstone</a></li>
      </ul>
    </div>
  </div> <!-- end .dropdown-panel -->
  <!-- Filter drawer -->
  <aside class="drawer product-guide-drawer birthstone-guide">
    <div class="drawer-back"></div>
    <div class="drawer-header">
      <h2>Stone Guide</h2>
      <a href="javascript:;" class="close-btn"></a>
    </div> <!-- end .drawer-header -->
    <div class="drawer-main">
      <ul>
        <li>
          <img src="{{ 'birthstone-solid-gold-jan.png' | asset_url}}" alt="">
          <h3>January Garnet</h3>
          <p>Wear your tiny twinkling Lucky Star rings to remind you that the future is yours.</p>
        </li>
        <li>
          <img src="{{ 'birthstone-solid-gold-feb.png' | asset_url}}" alt="">
          <h3>February Amethyst</h3>
          <p>Wear your tiny twinkling Lucky Star rings to remind you that the future is yours.</p>
        </li>
        <li>
          <img src="{{ 'birthstone-solid-gold-mar.png' | asset_url}}" alt="">
          <h3>March Aquamarine</h3>
          <p>Wear your tiny twinkling Lucky Star rings to remind you that the future is yours.</p>
        </li>
        <li>
          <img src="{{ 'birthstone-solid-gold-apr.png' | asset_url}}" alt="">
          <h3>April Topaz</h3>
          <p>Wear your tiny twinkling Lucky Star rings to remind you that the future is yours.</p>
        </li>
        <li>
          <img src="{{ 'birthstone-solid-gold-may.png' | asset_url}}" alt="">
          <h3>May Emerald</h3>
          <p>Wear your tiny twinkling Lucky Star rings to remind you that the future is yours.</p>
        </li>
        <li>
          <img src="{{ 'birthstone-solid-gold-jun.png' | asset_url}}" alt="">
          <h3>June Morganite</h3>
          <p>Wear your tiny twinkling Lucky Star rings to remind you that the future is yours.</p>
        </li>
      </ul>
    </div> <!-- end .drawer-main -->
  </aside> <!-- end .product-guide-drawer -->
</div> <!-- end .customise-section -->
